<div class="panel panel-info">
    <div class="panel-heading"><a href='{{ url_for('user', username=post.author.username) }}'>
    	<b>{{ post.author.username }}</b></a> posted {{ moment(post.timestamp).fromNow() }}
    <button type="button" class="glyphicon glyphicon-thumbs-up" onclick="like()"></button><span id="a"></span>
        <button type="button" class="glyphicon glyphicon-thumbs-down" onclick="dislike()"></button><span id="b"></span>
        <script>
	var count = 0;
	function like(){
		while(count < 1){
		count ++;
		document.getElementById("a").innerHTML = count;
		if (count == 1){
			number = 0;
			document.getElementById("b").innerHTML = number;
		}
	}
	}
	var number = 0;
	function dislike(){
		while(number < 1){
		number ++;
		document.getElementById("b").innerHTML = number;
		if (number == 1){
			count = 0;
			document.getElementById("a").innerHTML = count;
		}
	}
	}
</script>
    </div>
    <div class="panel-body">{{ post.body }}</div>
</div>


